USE [UniversityDB]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 07.01.2026 21:58:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupCode] [nvarchar](30) NOT NULL,
	[CreationYear] [smallint] NOT NULL,
	[LeaderStudentID] [int] NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Group_GroupCode] UNIQUE NONCLUSTERED 
(
	[GroupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hobby]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hobby](
	[HobbyID] [int] IDENTITY(1,1) NOT NULL,
	[HobbyName] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Hobby] PRIMARY KEY CLUSTERED 
(
	[HobbyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Hobby_HobbyName] UNIQUE NONCLUSTERED 
(
	[HobbyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScholarshipPayment]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScholarshipPayment](
	[PaymentID] [bigint] IDENTITY(1,1) NOT NULL,
	[PeriodID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[Amount] [money] NOT NULL,
	[CalculatedAt] [datetime2](0) NOT NULL,
	[Comment] [nvarchar](200) NULL,
 CONSTRAINT [PK_ScholarshipPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SPay] UNIQUE NONCLUSTERED 
(
	[PeriodID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScholarshipPeriod]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScholarshipPeriod](
	[PeriodID] [int] IDENTITY(1,1) NOT NULL,
	[AcademicYear] [smallint] NOT NULL,
	[Semester] [tinyint] NOT NULL,
	[DateFrom] [date] NOT NULL,
	[DateTo] [date] NOT NULL,
 CONSTRAINT [PK_ScholarshipPeriod] PRIMARY KEY CLUSTERED 
(
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SP] UNIQUE NONCLUSTERED 
(
	[AcademicYear] ASC,
	[Semester] ASC,
	[DateFrom] ASC,
	[DateTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[StudentCardNo] [nvarchar](20) NOT NULL,
	[BirthYear] [smallint] NOT NULL,
	[BirthPlace] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[Gender] [char](1) NOT NULL,
	[MaritalStatus] [nvarchar](20) NOT NULL,
	[ScholarshipAmount] [money] NOT NULL,
	[DormRoomNo] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Student_StudentCardNo] UNIQUE NONCLUSTERED 
(
	[StudentCardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGrade]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGrade](
	[StudentGradeID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[TeacherSubjectID] [int] NOT NULL,
	[AcademicYear] [smallint] NOT NULL,
	[Semester] [tinyint] NOT NULL,
	[GradeDate] [date] NOT NULL,
	[AttemptNo] [tinyint] NOT NULL,
	[Points] [decimal](5, 2) NOT NULL,
	[StateGrade] [tinyint] NOT NULL,
 CONSTRAINT [PK_StudentGrade] PRIMARY KEY CLUSTERED 
(
	[StudentGradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGroup]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGroup](
	[StudentGroupID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[DateFrom] [date] NOT NULL,
	[DateTo] [date] NULL,
	[Reason] [nvarchar](100) NULL,
 CONSTRAINT [PK_StudentGroup] PRIMARY KEY CLUSTERED 
(
	[StudentGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentHobby]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentHobby](
	[StudentID] [int] NOT NULL,
	[HobbyID] [int] NOT NULL,
 CONSTRAINT [PK_StudentHobby] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[HobbyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentRating]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentRating](
	[PeriodID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[RatingValue] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_StudentRating] PRIMARY KEY CLUSTERED 
(
	[PeriodID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](120) NOT NULL,
	[Credits] [tinyint] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Subject_SubjectName] UNIQUE NONCLUSTERED 
(
	[SubjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Department] [nvarchar](100) NULL,
	[Email] [nvarchar](120) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Teacher_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubject]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubject](
	[TeacherSubjectID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[AcademicYear] [smallint] NOT NULL,
	[Semester] [tinyint] NOT NULL,
	[Hours] [smallint] NULL,
 CONSTRAINT [PK_TeacherSubject] PRIMARY KEY CLUSTERED 
(
	[TeacherSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TS] UNIQUE NONCLUSTERED 
(
	[TeacherID] ASC,
	[SubjectID] ASC,
	[AcademicYear] ASC,
	[Semester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScholarshipPayment] ADD  CONSTRAINT [DF_SPay_CalcAt]  DEFAULT (sysutcdatetime()) FOR [CalculatedAt]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_ScholarshipAmount]  DEFAULT ((0)) FOR [ScholarshipAmount]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentGrade] ADD  CONSTRAINT [DF_SG_AttemptNo]  DEFAULT ((1)) FOR [AttemptNo]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_LeaderStudent] FOREIGN KEY([LeaderStudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_LeaderStudent]
GO
ALTER TABLE [dbo].[ScholarshipPayment]  WITH CHECK ADD  CONSTRAINT [FK_SPay_Period] FOREIGN KEY([PeriodID])
REFERENCES [dbo].[ScholarshipPeriod] ([PeriodID])
GO
ALTER TABLE [dbo].[ScholarshipPayment] CHECK CONSTRAINT [FK_SPay_Period]
GO
ALTER TABLE [dbo].[ScholarshipPayment]  WITH CHECK ADD  CONSTRAINT [FK_SPay_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[ScholarshipPayment] CHECK CONSTRAINT [FK_SPay_Student]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [FK_StudentGrade_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [FK_StudentGrade_Student]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [FK_StudentGrade_TeacherSubject] FOREIGN KEY([TeacherSubjectID])
REFERENCES [dbo].[TeacherSubject] ([TeacherSubjectID])
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [FK_StudentGrade_TeacherSubject]
GO
ALTER TABLE [dbo].[StudentGroup]  WITH CHECK ADD  CONSTRAINT [FK_StudentGroup_Group] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Group] ([GroupID])
GO
ALTER TABLE [dbo].[StudentGroup] CHECK CONSTRAINT [FK_StudentGroup_Group]
GO
ALTER TABLE [dbo].[StudentGroup]  WITH CHECK ADD  CONSTRAINT [FK_StudentGroup_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentGroup] CHECK CONSTRAINT [FK_StudentGroup_Student]
GO
ALTER TABLE [dbo].[StudentHobby]  WITH CHECK ADD  CONSTRAINT [FK_StudentHobby_Hobby] FOREIGN KEY([HobbyID])
REFERENCES [dbo].[Hobby] ([HobbyID])
GO
ALTER TABLE [dbo].[StudentHobby] CHECK CONSTRAINT [FK_StudentHobby_Hobby]
GO
ALTER TABLE [dbo].[StudentHobby]  WITH CHECK ADD  CONSTRAINT [FK_StudentHobby_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentHobby] CHECK CONSTRAINT [FK_StudentHobby_Student]
GO
ALTER TABLE [dbo].[StudentRating]  WITH CHECK ADD  CONSTRAINT [FK_SR_Period] FOREIGN KEY([PeriodID])
REFERENCES [dbo].[ScholarshipPeriod] ([PeriodID])
GO
ALTER TABLE [dbo].[StudentRating] CHECK CONSTRAINT [FK_SR_Period]
GO
ALTER TABLE [dbo].[StudentRating]  WITH CHECK ADD  CONSTRAINT [FK_SR_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentRating] CHECK CONSTRAINT [FK_SR_Student]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [FK_TS_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [FK_TS_Subject]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [FK_TS_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [FK_TS_Teacher]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [CK_Group_CreationYear] CHECK  (([CreationYear]>=(1990) AND [CreationYear]<=(2100)))
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [CK_Group_CreationYear]
GO
ALTER TABLE [dbo].[ScholarshipPayment]  WITH CHECK ADD  CONSTRAINT [CK_SPay_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[ScholarshipPayment] CHECK CONSTRAINT [CK_SPay_Amount]
GO
ALTER TABLE [dbo].[ScholarshipPeriod]  WITH CHECK ADD  CONSTRAINT [CK_SP_AcademicYear] CHECK  (([AcademicYear]>=(1990) AND [AcademicYear]<=(2100)))
GO
ALTER TABLE [dbo].[ScholarshipPeriod] CHECK CONSTRAINT [CK_SP_AcademicYear]
GO
ALTER TABLE [dbo].[ScholarshipPeriod]  WITH CHECK ADD  CONSTRAINT [CK_SP_Dates] CHECK  (([DateTo]>[DateFrom]))
GO
ALTER TABLE [dbo].[ScholarshipPeriod] CHECK CONSTRAINT [CK_SP_Dates]
GO
ALTER TABLE [dbo].[ScholarshipPeriod]  WITH CHECK ADD  CONSTRAINT [CK_SP_Semester] CHECK  (([Semester]=(2) OR [Semester]=(1)))
GO
ALTER TABLE [dbo].[ScholarshipPeriod] CHECK CONSTRAINT [CK_SP_Semester]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_BirthYear] CHECK  (([BirthYear]>=(1950) AND [BirthYear]<=(2012)))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_BirthYear]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_DormRoomNo] CHECK  (([DormRoomNo] IS NULL OR [DormRoomNo]>=(1) AND [DormRoomNo]<=(9999)))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_DormRoomNo]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_Gender] CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_Gender]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_MaritalStatus] CHECK  (([MaritalStatus]=N'Widowed' OR [MaritalStatus]=N'Divorced' OR [MaritalStatus]=N'Married' OR [MaritalStatus]=N'Single'))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_MaritalStatus]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_ScholarshipAmount] CHECK  (([ScholarshipAmount]>=(0)))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_ScholarshipAmount]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [CK_SG_AcademicYear] CHECK  (([AcademicYear]>=(1990) AND [AcademicYear]<=(2100)))
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [CK_SG_AcademicYear]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [CK_SG_AttemptNo] CHECK  (([AttemptNo]>=(1) AND [AttemptNo]<=(10)))
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [CK_SG_AttemptNo]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [CK_SG_Points] CHECK  (([Points]>=(0) AND [Points]<=(100)))
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [CK_SG_Points]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [CK_SG_Semester] CHECK  (([Semester]=(2) OR [Semester]=(1)))
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [CK_SG_Semester]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [CK_SG_StateGrade] CHECK  (([StateGrade]=(5) OR [StateGrade]=(4) OR [StateGrade]=(3)))
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [CK_SG_StateGrade]
GO
ALTER TABLE [dbo].[StudentGroup]  WITH CHECK ADD  CONSTRAINT [CK_StudentGroup_Dates] CHECK  (([DateTo] IS NULL OR [DateTo]>[DateFrom]))
GO
ALTER TABLE [dbo].[StudentGroup] CHECK CONSTRAINT [CK_StudentGroup_Dates]
GO
ALTER TABLE [dbo].[StudentRating]  WITH CHECK ADD  CONSTRAINT [CK_SR_Rating] CHECK  (([RatingValue]>=(0)))
GO
ALTER TABLE [dbo].[StudentRating] CHECK CONSTRAINT [CK_SR_Rating]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [CK_Subject_Credits] CHECK  (([Credits] IS NULL OR [Credits]>=(1) AND [Credits]<=(30)))
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [CK_Subject_Credits]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [CK_TS_AcademicYear] CHECK  (([AcademicYear]>=(1990) AND [AcademicYear]<=(2100)))
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [CK_TS_AcademicYear]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [CK_TS_Hours] CHECK  (([Hours] IS NULL OR [Hours]>=(1) AND [Hours]<=(1000)))
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [CK_TS_Hours]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [CK_TS_Semester] CHECK  (([Semester]=(2) OR [Semester]=(1)))
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [CK_TS_Semester]
GO
/****** Object:  StoredProcedure [dbo].[usp_CalculateScholarship]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_CalculateScholarship]
    @PeriodID   INT,
    @TopPercent DECIMAL(5,2) = 30.00,  -- рівно X% (ціле число студентів)
    @AmountTop  MONEY = 3000,          -- топ 10% серед отримувачів
    @AmountBase MONEY = 2000
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ay SMALLINT, @sem TINYINT, @d1 DATE, @d2 DATE;

    SELECT
        @ay  = AcademicYear,
        @sem = Semester,
        @d1  = DateFrom,
        @d2  = DateTo
    FROM dbo.ScholarshipPeriod
    WHERE PeriodID = @PeriodID;

    IF @ay IS NULL
    BEGIN
        RAISERROR(N'PeriodID не знайдено в dbo.ScholarshipPeriod.', 16, 1);
        RETURN;
    END

    BEGIN TRAN;

    -- чистимо період
    DELETE FROM dbo.ScholarshipPayment WHERE PeriodID = @PeriodID;
    DELETE FROM dbo.StudentRating      WHERE PeriodID = @PeriodID;

    -- 1) рейтинг: тільки активні, що мають оцінки в цьому періоді
    INSERT INTO dbo.StudentRating(PeriodID, StudentID, RatingValue)
    SELECT
        @PeriodID,
        sg.StudentID,
        AVG(CAST(sg.Points AS DECIMAL(10,4))) AS RatingValue
    FROM dbo.StudentGrade sg
    JOIN dbo.Student st
      ON st.StudentID = sg.StudentID
     AND st.IsActive  = 1
    WHERE sg.AcademicYear = @ay
      AND sg.Semester     = @sem
      AND sg.GradeDate >= @d1
      AND sg.GradeDate <  DATEADD(DAY, 1, @d2)
    GROUP BY sg.StudentID;

    DECLARE @ActiveRated INT = (SELECT COUNT(*) FROM dbo.StudentRating WHERE PeriodID = @PeriodID);

    -- якщо раптом в періоді немає рейтингу
    IF @ActiveRated = 0
    BEGIN
        UPDATE dbo.Student SET ScholarshipAmount = 0 WHERE IsActive = 1;
        UPDATE dbo.Student SET ScholarshipAmount = 0 WHERE IsActive = 0;
        COMMIT;
        RETURN;
    END

    -- 2) рівно X% отримувачів
    DECLARE @Recipients INT = FLOOR(@ActiveRated * (@TopPercent / 100.0));
    IF @Recipients < 1 SET @Recipients = 1;

    -- 3) топ 10% серед отримувачів (мінімум 1)
    DECLARE @TopCount INT = FLOOR(@Recipients * 0.10);
    IF @TopCount < 1 SET @TopCount = 1;

    ;WITH Ranked AS
    (
        SELECT
            r.StudentID,
            r.RatingValue,
            rn = ROW_NUMBER() OVER (ORDER BY r.RatingValue DESC, r.StudentID ASC)
        FROM dbo.StudentRating r
        WHERE r.PeriodID = @PeriodID
    ),
    Winners AS
    (
        SELECT TOP (@Recipients)
            StudentID,
            rn
        FROM Ranked
        ORDER BY rn
    )
    INSERT INTO dbo.ScholarshipPayment(PeriodID, StudentID, Amount, CalculatedAt, Comment)
    SELECT
        @PeriodID,
        w.StudentID,
        CASE WHEN w.rn <= @TopCount THEN @AmountTop ELSE @AmountBase END AS Amount,
        SYSUTCDATETIME(),
        N'Active only; exact TopPercent'
    FROM Winners w;

    -- 4) оновлюємо поточну стипендію: активним = виплата цього періоду або 0
    UPDATE st
    SET st.ScholarshipAmount = ISNULL(sp.Amount, 0)
    FROM dbo.Student st
    LEFT JOIN dbo.ScholarshipPayment sp
      ON sp.StudentID = st.StudentID
     AND sp.PeriodID  = @PeriodID
    WHERE st.IsActive = 1;

    UPDATE dbo.Student
    SET ScholarshipAmount = 0
    WHERE IsActive = 0;

    COMMIT;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_EnableBusinessRuleTriggers]    Script Date: 07.01.2026 21:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- Український коментар: виправлена процедура увімкнення тригерів (без помилки BEGIN;)
------------------------------------------------------------
CREATE PROCEDURE [dbo].[usp_EnableBusinessRuleTriggers]
AS
BEGIN
    SET NOCOUNT ON;
    ENABLE TRIGGER dbo.tr_Student_DormRoomCapacity ON dbo.Student;
    ENABLE TRIGGER dbo.tr_Group_LeaderMustBelong   ON dbo.[Group];
END;
GO
